header {
	z-index: 100;
	position: fixed;
	top: 0;
	background-color: #F6F8F9;
	width: 1740px;
	height: 50px;
}
.logo {
	display: inline-block;
	vertical-align: middle;
	color: #FA6980;
	font-size: 20px;
	font-style: Helvetica;
	font-weight: bold;
	opacity: 100%;
	margin: 10px 90px 30px 30px;

}
nav {
	display: inline-block;
	vertical-align: middle;
}
li {
    display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	font-style: Helvetica;
	font-weight: bold;
	opacity: 70%;
	color: #343638;
	margin: 10px 25px 30px 0px;
}

.img1 {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.section1 {
	z-index: 1;
	position: relative;
	width: 1160px;
	height: 410px;
	background-color: #FFFFFF;
	margin: 80px 140px 40px 140px;
}
h2 {
	color: #202124;
	font-size: 26px;
	font-style: Helvetica;
	font-weight: bold;
}
.div1 {
	position: absolute;
	width: 360px;
	height: 350px;
	top: 50px;
	padding-right: 40px;
	left: 0;

}
.wrapper {
	position: relative;
}
.img2 {
	width: 360px;
	height: 180px;
	border-radius: 3%;
}
.text {
	position: absolute;
	font-size: 16px;
	font-style: Helvetica;
	font-weight: bold;
	color: #FFFFFF;
	top: 30px;
	left: 40px;
}
.divdiv {
	width: 360px;
	height: 180px;
	background-color: #FFFFFF;
}
.lorem {
	position: absolute;
	width: 280px;
	height: 38px;
	color: #A6ADB4;
	font-size: 15px;
	font-style: Acumin Pro;
	margin: 63px 71px 20px 40px;

}
.clock {
    position: absolute;
	width: 69px;
	height: 16px;
	color: #A6ADB4;
	font-size: 15px;
	font-style: Helvetica;
	font-weight: oblique;
	margin: 113px 224px 40px 40px;

}
.div2 {
	position: absolute;
	width: 360px;
	height: 350px;
	top: 50px;
	padding-right: 40px;
	left: 400px;

}
.div3 {
	position: absolute;
	width: 360px;
	height: 350px;
	top: 50px;
	right: 0;

}
